.heading{
    line-height: 16px;
    margin-top: 64px;
    height: 100%;
}

.heading h1{
    font-size: 72px;
    font-weight: bolder;
    margin-top: 78px;
}

.heading p{
    font-size: 32px;
    opacity: 0.75;
}

.greet p{
    font-size: 24px;
    opacity: 1;
    margin-top: 48px;
}

.connect {
    display: flex;
    gap: 16px; 
    margin: 40px 0 32px;
}

.connect button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5D8AA8;
    color: inherit;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    gap: 8px;
}

.connect button svg {
    font-size: 24px;
}

@media (max-width: 768px) {
    .heading{
        margin-top: 72px;
    }

    .heading h1{
        font-size: 56px;
        margin-top: 64px;
        line-height: 64px;
        text-align: center;
    }

    .heading p{
        font-size: 24px;
        text-align: center;
    }

    .greet p{
        font-size: 16px;
        text-align: center;
        line-height: 36px;
    }

    .connect {
        flex-direction: row; 
        gap: 24px; 
        justify-content: center;
        margin-top: 64px;
      }
    
      .connect button {
        text-align: center; 
        padding: 12px;
      }
  }