.heading{
    line-height: 16px;
    margin-top: 64px;
    height: 100%;
}

.heading h1{
    font-size: 64px;
    font-weight: bolder;
}

.heading p{
    font-size: 24px;
    opacity: 0.75;
}

.greet p{
    font-size: 16px;
    opacity: 1;
    margin-top: 48px;
    letter-spacing: 4px;
}

.connect {
    display: flex;
    gap: 16px; 
    margin-top: 24px;
}

.connect button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    gap: 8px;
}

.connect button svg {
    font-size: 24px; /* Makes the icons bigger */
}
