body.light-mode {
  background-color: #F5F5F5;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

body.dark-mode {
  background-color: #181818;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.icon {
  width: 20px;
  height: 20px;
}
