body.light-mode {
  /* background-color: #F5F5F5; */
  color: #000000;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0, #f5f5f5);
  animation: gradientLight 8s ease infinite;
}

body.dark-mode {
  /* background-color: #181818; */
  background: linear-gradient(120deg, #181818, #202020);
  animation: gradientDark 6s ease infinite;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #5d8aa8;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.icon {
  width: 20px;
  height: 20px;
}

@keyframes gradientDark {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientLight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
