.preloader {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background: linear-gradient(120deg, #0C0C0C, #100D08);
    color: #ffffff;
    font-size: 32px; 
    font-weight: bold;
    overflow: hidden; 
    margin: -40px -80px; 
    padding: 0;
    box-sizing: border-box; 
}
